otp_path: "/usr/local/lib/erlang"
plt_path: "_build/default/rebar3_24.3.3_plt"
#code_reload:
#  node: ejabberd@localhost
#apps_dirs:
#  - "_build/default/lib/*"
deps_dirs:
  - "_build/default/lib/*"
  - "_build/dev/lib/*"
include_dirs:
  - "include"
  - "_build/default/lib"
  - "_build/default/lib/*/include"
  - "_build/dev/lib"
  - "_build/dev/lib/*/include"
macros:
  - name: DEPRECATED_GET_STACKTRACE
  - name: HAVE_ERL_ERROR
  - name: HAVE_URI_STRING
diagnostics:
  disabled:
    - unused_includes # Otherwise it complains about unused logger.hrl
lenses:
  enabled:
    - show-behaviour-usages
    - ct-run-test
    - function-references
    #- server-info
    - show-behaviour-usages
    - suggest-spec
